<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel ="stylesheet" href="/css/addStore.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel ="stylesheet" href="/css/sidebar.css">
    <script src="/js/addStore.js"></script>
</head>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="section" id="section1">
    <div class="container">
        <div class="row">
            <h2>당신의 가게를 등록하세요!</h2>

            <form class="form-horizontal" action="/addStore" method="post">
                <fieldset>

                    <!-- Form Name -->
                    <legend>가게 등록</legend>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">사업자 이름</label>
                        <div class="col-md-4">
                            <input id="textinput" name="businessName" placeholder="사용자 이름" class="form-control input-md" required="" type="text">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">가게 상호명</label>
                        <div class="col-md-4">
                            <input id="textinput" name="storeName" placeholder="가게 상호명" class="form-control input-md" required="" type="text">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">유형</label>
                        <div class="col-md-4">
                            <select class="password_confirm_question" name="type">
                                <option value="cafe">카페</option>
                                <option value="restaurant">음식점</option>
                                <option value="bar">술집</option>
                                <option value="etc">기타</option>
                            </select>
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label">주소</label>
                        <div class="col-md-4">
                            <input type="text" id="address_kakao"  class="form-control input-md" name="address" readonly /><br>
                            <input type="text" id="textinput" class="form-control input-md" name="detailAddress" placeholder="상세주소" />
                            <span class="help-block"> </span>
                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">번호</label>
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" placeholder="번호" class="form-control input-md" required="" type="text">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">가게 소개</label>
                        <div class="col-md-4">
                            <input id="textinput" name="phone" placeholder="가게 소개글" class="form-control input-md" required="" type="text">
                            <span class="help-block"> </span>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"> </label>
                        <div class="col-md-4">
                            <button id="singlebutton" name="singlebutton" class="btn btn-primary">다음</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>
</div>
<div class="section" id="section2">
    <div id="grid">
        <div class="menu">
            <label for="expand-menu"><div>메뉴</div></label><input type="checkbox" id="expand-menu" name="expand-menu">
            <ul>
                <li><img src="https://blog.kakaocdn.net/dn/QG4Wl/btqIPZexSQ1/YM7lxTCD1dCIsO5V3y51VK/img.png" width="50" height="120" ><a id="2table" class="item" ><div>2인테이블</div></a></li>
                <li><a id="4table" class="item"><div>4인테이블</div></a></li>
                <li><a id="counter" class="item"><div>카운터</div></a></li>
                <li><a id="gate" class="item"><div>출입문</div></a></li>
                <li><a id="toilet" class="item"><div>화장실</div></a></li>
                <li><a id="position" class="item"><div>현위치</div></a></li>
            </ul>
        </div>
        <div id="canvas">
            <button onclick="draw()">그리기 버튼</button>
        </div>
    </div>

</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script >
    window.onload = function() {
        {
            document.getElementById("address_kakao").addEventListener("click", function () { //주소입력칸을 클릭하면
                //카카오 지도 발생
                new daum.postCode({
                    oncomplete: function (data) { //선택시 입력값 세팅
                        document.getElementById("address_kakao").value = data.address; // 주소 넣기
                        document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
                    }
                }).open();
            });
            document.getElementById("2table").addEventListener("click", function () {
                //alert("2table")

                img = document.createElement("img");
                img.src = "/image/square.png"
                img.width = "40";
                img.height = "40";
                document.body.appendChild(img);
            });
            document.getElementById("4table").addEventListener("click", function () {
                img = document.createElement("img");
                img.src = "/image/rectangle.png"
                img.width = "70";
                img.height = "70";
                document.body.appendChild(img);
            });
            document.getElementById("toilet").addEventListener("click", function () {
                img = document.createElement("img");
                img.src = "/image/toilet.png"
                img.width = "140";
                img.height = "70";
                document.body.appendChild(img);
            });
            document.getElementById("counter").addEventListener("click", function () {
                img = document.createElement("img");
                img.src = "/image/counter.png"
                img.width = "70";
                img.height = "70";
                document.body.appendChild(img);
            });
            document.getElementById("position").addEventListener("click", function () {
                img = document.createElement("img");
                img.src = "/image/position.png"
                img.width = "50";
                img.height = "50";
                document.body.appendChild(img);
            });
            document.getElementById("gate").addEventListener("click", function () {
                img = document.createElement("img");
                img.src = "/image/entrance.png"
                img.width = "30";
                img.height = "30";
                document.body.appendChild(img);
            });
        }
    }

    function draw(){
        var canvas = document.getElementById('canvas');
        if (canvas.getContext){
            var ctx = canvas.getContext('2d');

            ctx.fillRect(25,25,100,100);
            ctx.clearRect(45,45,60,60);
            ctx.strokeRect(50,50,50,50);
        }
    }

</script>
</body>
</html>