<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>자리있나요?</title>
    <link rel="stylesheet" type="text/css" href="/css/registerStore.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/sidebar.css">

</head>
<body>
<div class="menu">
    <label for="expand-menu"><div>메뉴</div></label><input type="checkbox" id="expand-menu" name="expand-menu">
    <ul>
        <li><button id="2table" class="item"><div>2인테이블</div></button></li>
        <li><button id="4table" class="item"><div>4인테이블</div></button></li>
        <li><button id="counter" class="item"><div>카운터</div></button></li>
        <li><button id="gate" class="item"><div>출입문</div></button></li>
        <li><button id="toilet" class="item"><div>화장실</div></button></li>
        <li><button id="position" class="item"><div>현위치</div></button></li>
    </ul>
</div>
<div class="main">
    <div id="grid">
        <div class="left">
        </div>
        <div class="center">
            <form action="/registerStore" method="post">
                <div class="login_title">
                    가게 등록
                </div>
                <div class="enter_id">
                    <div class="join_info">사업자명</div><input type="text" id="id" name="businessName" placeholder="사업자명">
                </div>
                <div class="enter_pw">
                    <span class="join_info">가게이름</span><input type="text" id="password" name="storeName" placeholder="가게이름">
                </div>
                <div class="enter_pw_confirm_question">
                    <span class="join_info">유형</span>
                    <select class="password_confirm_question" name="type">
                        <option value="cafe">카페</option>
                        <option value="restaurant">음식점</option>
                        <option value="bar">술집</option>
                        <option value="etc">기타</option>
                    </select>
                </div>
                <div class="address">
                    <span class="address_info">주소</span> <input type="text" id="address_kakao"  class="enter_address" value ="주소찾기" name="address" readonly /><br>
                    <span class="address_info">상세 주소</span><input type="text" class="enter_address" name="detailAddress" />
                </div>
                <div class="enter_pw">
                    <span class="join_info">번호</span><input type="text" id="phone" name="phone" placeholder="가게번호 or 사업자 전화번호">
                </div>
                <div class="login_complete">
                    <button type="submit" class="login_complete_button">가게등록</button>
                </div>
            </form>
        </div>
        <div class="right">
        </div>
    </div>
</div>

<script>
    let twoTable;
    let fourTable;
    let toilet;
    let counter;
    let position;
    let gate;
window.onload = function(){
    document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
        //카카오 지도 발생
        new daum.Postcode({
            oncomplete: function(data) { //선택시 입력값 세팅
                document.getElementById("address_kakao").value = data.address; // 주소 넣기
                document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            }
        }).open();
    });

    twoTable=document.getElementById("2table");
    fourTable=document.getElementById("4table");
    toilet=document.getElementById("toilet");
    counter=document.getElementById("counter");
    position=document.getElementById("position");
    gate=document.getElementById("gate");
    two=function makeImg(){
        img=document.createElement("img");
        img.src="/image/square.png"
        img.width="10"; img.height="10";
        document.body.appendChild(img);
    }
    four=function makeImg(){
        img=document.createElement("img");
        img.src="/image/rectangle.png"
        img.width="20"; img.height="10";
        document.body.appendChild(img);
    }
    toil=function makeImg(){
        img=document.createElement("img");
        img.src="/image/toilet.png"
        img.width="10"; img.height="10";
        document.body.appendChild(img);
    }
    counte=function makeImg(){
        img=document.createElement("img");
        img.src="/image/counter.png"
        img.width="10"; img.height="10";
        document.body.appendChild(img);
    }
    door=function makeImg(){
        img=document.createElement("img");
        img.src="/image/entrance.png"
        img.width="10"; img.height="10";
        document.body.appendChild(img);
    }
    now=function makeImg(){
        img=document.createElement("img");
        img.src="/image/position.png"
        img.width="5"; img.height="5";
        document.body.appendChild(img);
    }
    twoTable.onclick=two;
    fourTable.onclick=four;
    toilet.onclick=toil;
    gate.onclick=door;
    counter.onclick=counte;
    position.onclick=now;
}


</script>
</body>
</html>